.can-selected {
  border: 4px solid yellowgreen;
  min-height: 20px;
  min-width: 20px;
  box-sizing: border-box;
  transition: .3s;
  
  position: absolute;
  z-index: 99999;
}

.can-layout {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
  z-index: 999999;
}

.can-layout__icon {
  float: left;
  margin: 2px;
  opacity: .5;

  transition: 0.5s;
}

.can-layout__active {
  opacity: 1;
}